/**
 * File Name: overlay.css
 *
 * This file holds all of the global styles for a flash overlay iframe.
 * 2012 Zynga Game Network Inc.
 */

#genericOverlay {
    display: none;
    position: absolute;
    left: 50%;
    top: 0;
    width: 760px;
    z-index: 1;
}

.defaultBorder {

}

.defaultFrame {
    width: 100%;
    height: 720px;
}