.zfeed_root {
	position: relative;
	padding-left: 25%;
}

.zfeed_border {
	border: 1px black solid;
	-moz-border-radius: 8px 8px 8px 8px;
	-webkit-border-radius:8px 8px 8px 8px;
	border-color:#CCCCCC;
}
.zfeed_left { float: left; }
.zfeed_clear { clear: both; }

.zfeed_main {
	width: 700px;
	min-height: 100px;
	max-height: 650px;
	overflow: auto;
	margin: 10px 10px 10px 10px;
	/* border-radius: 10px; */
	/* -moz-border-radius: 10px; */
	/* -webkit-border-radius: 10px; */
	/* border: 1px #CCCCCC solid; */
}
.zfeed_main > ul {
	width: 680px;
	list-style-type: none;
}
.zfeed_main > ul > li {
	padding: 5px;
	width: 670px;
	height: 90px;
}
.zfeed_main > ul > li:not(:last-child) {
	border-bottom: 1px solid #CCCCCC;
}

.zfeed_center { display: table-cell; vertical-align: middle; text-align: center; }
.zfeed_center > * { vertical-align: middle; }

.zfeed_main > ul > li > div.image {
	width: 90px;
	height: 90px;
	float: left;
	margin-right: 8px;
}

.zfeed_main > ul > li > div > .feedImage {
	width: 90px;
	height: 90px;
	float: left;
}

.zfeed_main > ul > li > div.image > a > img {
	width: 90px;
	height: 90px;
	text-align: center;
}

.zfeed_main > ul > li > div.content {
	width: 378px;
	float: left;
}

.zfeed_main > ul > li > div.content .profile_content .name {
	font-weight: bold;
}

.zfeed_main > ul > li > div.content .profile_content .title {
	/* font-weight: bold; */
}

.zfeed_main > ul > li > div.content > div.top > { float:left; }
.zfeed_main > ul > li > div.content > div.top > div.profile_image {
	width: 50px;
	text-align: center;
	float: left;
	margin-right: 5px;
}
.zfeed_main > ul > li > div.content > div.top > div.profile_image > img { width: 50px; height: 50px; }
.zfeed_main > ul > li > div.content > div.top > div.profile_content {
	width: 300px;
	float: left;
}

.zfeed_main > ul > li > div.content > div.bottom { float:left;}
.zfeed_main > ul > li > div.content > div.bottom > * { float:left; height: 16px; }
.zfeed_main > ul > li > div.content > div.bottom > *:not(:last-child) { padding: 0px 2px; }
.zfeed_main > ul > li > div.content > div.bottom > *:first-child { padding-left: 0px; }

.zfeed_main > ul > li > div.content > div.bottom > div.game_image img {
	width: 16px;
	height: 16px;
	text-align: center;
}

.zfeed_main > ul > li > div.content > div.bottom > div.action {
	font-weight: bold;
}

.zfeed_main > ul > li > div.content > div.bottom > div.time {
	clear: both;
	color: #999999;
}

.zfeed_main > ul > li > div.content > div.bottom > span {
	color: #999999;
}

.zfeed_main > ul > li > div.content > div.bottom > div.game {
	color: #999999;
}

.zfeed_main > ul > li.zfeed_more {
	text-align: right;
}

.zfeed_main > ul > li.zfeed_more > button {
	font-size: 10px;
	margin-bottom: 10px;
}

.zfeed_main > ul > li > div.resultMessage {
	float: right;
	font-size: 12px;
	position: relative;
	right: 5px;
}

.zfeed_main > ul > li > div.processMessage {
	background-image: url('../images/loading.gif');
	width: 32px;
	height: 32px;
	bottom: 47px;
}

.zfeed_main > ul > li > div.statusMessage {
	color: green;
	bottom: 34px;
}

.zfeed_main > ul > li > div.errorMessage {
	color: red;
	bottom: 34px;
}