<!DOCTYPE html>
<html>
<head>
	<title>ZSC test</title>
	<script type="text/javascript"
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript"
		src="http://requirejs.org/docs/release/1.0.7/minified/require.js">
	</script>
	<script type="text/javascript" src="http://connect.facebook.net/en_US/all.js">
	</script>
	<script type="text/javascript"
		src="http://zgn.static.zynga.com/snapi/g571b601-debug-prod/snapi.js">
	</script>
	<script type="text/javascript"
		src="http://zynga1-a.akamaihd.net/zlive/channels/ZSC/3.0.70/en_US.js"></script>
	<script type="text/javascript" src="en_US.js"></script>
	<script type="text/javascript" src="test.js"></script>
</head>
<body>
	<div>
		<a href="javascript;" onclick="Inbox1P.open();return false;">Open Inbox</a>
	</div>
	<iframe src="en_US.js"
		style="border: 1px solid #eee; height: 600px; width: 100%;"></iframe>
</body>
</html>
