/**
 * File Name: gifts.css
 *
 * This file holds all of the global styles for gifts
 * © 2010 Zynga Game Network Inc.
 */

.treasure_main_body_cont {
	width: 760px;
	margin: 0 auto;
	padding: 10px 0px;
}

.main_gift_cont .title_generalgift {
	background: #fff none 0 0 no-repeat;
	height: 100px;
	width: 661px;
	margin: 5px auto 20px;
}

.main_gift_cont .title_collectiongift {
	background: #fff none 0 0 no-repeat;
	height: 26px;
	width: 547px;
	margin: 20px auto;
}

.main_gift_cont ul {
	list-style-type: none;
}

.main_gift_cont li {
	background: #fff none top left no-repeat;
	width: 143px;
	height: 166px;
	float: left;
	position: relative;
}

.main_gift_cont li.giftLocked {
	background: #fff none top left no-repeat;
}

.main_gift_cont li.giftCollection {
	background: #fff none top left no-repeat;
	position: relative;
}

.main_gift_cont .gift_img {
	padding: 12px 11px 0px 0px;
	height: 80px;
}

.main_gift_cont .gift_img span {
	display: block;
	height: 80px;
	width: 75px;
	margin: 0 auto;
}

.main_gift_cont .gift_name {
	margin: 10px 12px 0px 5px;
	color: #70461e;
	font-weight: bold;
	text-align: center;
}

li.giftLocked .gift_name {
	color: #666;
}

.main_gift_cont .gift_name  span {
	margin: 4px 0px 0px 6px;
	display: block;
	height: 25px;
	width: 115px;
}

.main_gift_cont .gift_action {
	margin: 3px 10px 0px 5px;
	color: red;
	font-weight: bold;
	text-align: center;
}

.main_gift_cont .gift_count {
	position: absolute;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	width: 30px;
	height: 17px;
	top: 80px;
	right: 30px;
}

.main_giftWide_cont .title_generalgift {
	background: #fff none 0 0 no-repeat;
	height: 55px;
	width: 661px;
	margin: 5px auto 20px;
}

.main_giftWide_cont .title_collectiongift {
	background: #fff none 0 0 no-repeat;
	height: 26px;
	width: 547px;
	margin: 20px auto;
}

.main_giftWide_cont ul {
	list-style-type: none;
}

.main_giftWide_cont li {
	background: #fff none top left no-repeat;
	width: 176px;
	height: 180px;
	float: left;
} 

.main_giftWide_cont li.giftWide_locked {
	background: #fff none top left no-repeat;
}

.main_giftWide_cont li.giftWide_collection {
	background: #fff top left no-repeat;
	position: relative;
	z-index: 10;
}

.main_giftWide_cont .gift_img {
	padding: 17px 0px 11px 0px;
}

.main_giftWide_cont .gift_img span {
	width: 70px;
	height: 75px;
	margin: 0 auto;
}

.main_giftWide_cont .gift_img img {
	width: 70px;
}

.main_giftWide_cont .gift_name {
	height: 30px;
	color: #70461e;
	font-weight: bold;
	margin: 0 10px;
	text-align: center;
}

.main_giftWide_cont .gift_name  span {
	display: block;
	height: 30px;
}

.main_giftWide_cont .gift_action {
	margin: 7px 5px 0px 2px;
	color: red;
	font-weight: bold;
	text-align: center;
}

.main_giftWide_cont .collectables .gift_action {
	margin-top: 0;
}
