/**
 * File Name: neighbor.css
 *
 * This file holds all of the global styles for neighbors and related requests
 * © 2010 Zynga Game Network Inc.
 */

.top_notice_cont {
	background: #fff none top left no-repeat;
	width: 760px;
	height: 173px;
}

.notice_badge_cont {
	float: left;
	width: 138px;
	height: 146px;
	position: relative;
}

.notice_badge {

}

.notice_badge_photo {
	position: absolute;
	top: 28px;
	left: 38px;

}

.notice_badge_name {
	position: absolute;
	top: 95px;
	left: 23px;
	width: 80px;
	height: 20px;
	font-size: 14px;
	font-weight: bold;
	overflow: hidden;
}

.notice_badge_name a{
	display: block;
	text-align:center;
}

.notice_badge_name a:link, .notice_badge_name a:visited {
	color: #fff;
	text-decoration: underline;
}

.notice_badge_name a:hover, .notice_badge_name a:active {
	text-decoration: none;
}

.notice_exp_cont {
	float: left;
	width: 500px;
	padding-top: 30px;
	text-align: center;
}

.notice_exp_cont p {
	color:#70461e;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	margin: 0;
	padding: 0;
}

.go_to_bttn {
	padding: 15px 0 25px 150px;
}

span.bttn_lft {
	background: transparent none top left no-repeat;
	float: left;
}

span.bttn_rt {
	background: transparent none top right no-repeat;
	float: left;
	display: block;
	height: 45px;
}

.bttn_lft a:link, .bttn_lft a:visited {
	color: #fff;
	display: block;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	padding: 12px 25px 10px;
}

.bttn_lft a:hover, .bttn_lft a:active {
	text-decoration: none;
	color: #694617;
}



/* neightbor friends lst */

.neighbor_friends_list {

}

.neighbor_friends_list  ul {
	list-style-type: none;
	padding: 20px 0 0 0px;
}

.neighbor_friends_list  li, li.notList {
	width: 762px;
	height: 90px;
	background: transparent none top left no-repeat;
	position: relative;
}

.neighbor_friends_list  li.neighborList {
	background: transparent none top left no-repeat;
}

.neighbor_friends_list  li.pendingList {
	background: transparent none top left no-repeat;
}

li.notList {
	background: transparent none top left no-repeat;
}
.neighbor_friends_list p {
	margin: 0;
	padding: 0;
}

.n_list_gem{
	position: absolute;
	top: 35px;
	left: 5px;
	width: 50px;
	height: 47px;
	z-index: 2;
}
/* gem color */

.gemOrange {
	background: transparent none top left no-repeat;
}

.gemGreen {
	background: transparent none top left no-repeat;
}

.gemRed {
	background: transparent none top left no-repeat;
}

.gemBlue {
	background: transparent none top left no-repeat;
}

.gemPurple {
	background: transparent none top left no-repeat;
}

.n_list_pict {
	position: absolute;
	top: 15px;
	left: 49px;
}

.n_list_info {
	position: absolute;
	top: 10px;
	left: 120px;
	font-size: 11px;
	text-align: left;
}

.n_list_info p {
	color:#392009; /* very dark brown */
	font-weight: bold;
}

.n_list_info  a:link, .n_list_info  a:visited {
	color: #8d3229; /* dark red */
	font-size: 14px;
	font-weight: bold;
	text-decoration: underline;
	display: block;
	width: 95px;
	height: 20px;
	overflow: hidden;
}

.n_list_info  a:hover, .n_list_info  a:active {
	text-decoration: none;
}

.n_list_info p  span {
	color:#4e9258; /* green */
	font-weight: bold;
}

/* gift list */

.n_list_gifts {
	position: absolute;
	top: 0px;
	left: 230px;
	height: 70px;
}

.n_list_gifts ul {
	list-style-type: none;
	margin: 0;
	padding: 8px 0 0;
}

.neighborList .n_list_gifts li {
	float: left;
	width: 55px;
	background: none;
}

.giftBox_cont {
	width: 50px;
	height: 50px;
	position: relative;
	background: #eae0b1 none 0 -100px no-repeat
}

.giftexist_collect {
	background-position: 0 0;
}

.giftexist_nocollect {
	background-position: 0 -50px;
}

.no_giftexist {
	background-position: 0 -100px;
}

/* small gift button */

.giftBttn_cont {
	background: #eae0b1 none 0 -38px no-repeat;
	height: 19px;
	width: 48px;
}

.giftBttn_cont a:link, .giftBttn_cont a:visited {
	background: #eae0b1 none 0 0 no-repeat;
	display: block;
	width: 48px;
	height: 19px;
}

.giftBttn_cont a:hover, .giftBttn_cont a:active {
	background-position: 0 -19px;
}

.giftBttn_cont a span, .giftBttn_cont span{
	display: none;	
}

.giftimage_cont {
	padding-top: 8px;	
}

/* star reward */

.reward_star {
	position: absolute;
	top: -3px;
	left: -3px;
	width: 20px;
	height: 20px;
	background: transparent none top left no-repeat
}

/* number alert */

.gift_amount {
	position: absolute;
	top: -3px;
	left: 25px;
	z-index: 40;
}

.numb_lft {
	background: transparent none top left no-repeat;
	padding-left:9px;
}

.numb_rht {
	background: transparent none top right no-repeat;
	padding: 6px 13px 7px 0;
	color: #402e00;
	font-weight: bold;
	font-size: 12px;
}


/* main button sections */

.n_list_bttn {
	float: right;
	width: 230px;
	text-align: right;
	padding-top: 10px;
	padding-right: 25px;
}

.n_list_bttn div {
	padding-bottom: 5px;
	text-align: right;
}

.n_list_bttn_padd {
	padding: 0 8px 0 0;
}

.n_list_bttn div a {
	display: block;
	height: 29px;
}

.n_list_bttn div a span {
	display: none;
}



/* button */

.bttn_sendgift, .bttn_removeneighbor, .bttn_addneighbor, .bttn_cancelrequest {
	float: right;	
}

.bttn_sendgift a:link, .bttn_sendgift a:visited {
	background: transparent none 0 0 no-repeat;
	width:90px;
}

.bttn_removeneighbor a:link, .bttn_removeneighbor a:visited {
	background: transparent none 0 0 no-repeat;
	width:162px;
}

.bttn_addneighbor a:link, .bttn_addneighbor a:visited {
	background: transparent none 0 0 no-repeat;
	width:139px;
}

.bttn_sendreminder a:link, .bttn_sendreminder a:visited {
	background: transparent none 0 0 no-repeat;
	width:126px;
}

.bttn_cancelrequest a:link, .bttn_cancelrequest a:visited {
	background: transparent none 0 0 no-repeat;
	width:162px;
}

a.inputbutton:hover {
	text-decoration: none;
}